.GridTable {
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 3px 0 #c5c5c5, 0 1px 3px 0 #c5c5c565;
    border-bottom-width: 1px;
    background-color: #f8f8f8;
    .GridHead {
        height: 30px;
        display: flex;
        align-items: center;
        overflow-x: hidden;
        .GridTr {
            display: flex;
            align-items: center;
            position: relative;

            .GridTh {
                position: absolute;
                color: black;
                font-weight: 700;
                transition: all 0.4s;
                .ThBox {
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding-left: 18px;
                    padding-right: 18px;
                    .text {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .resize {
                    
                        position: absolute;
                        display: flex;
                        align-items: center;
                        width: 8px;
                        height: 100%;
                        right: -4px;
                        cursor: ew-resize;
                    }
                    .resize::after {
                        position: absolute;
                        content: "";
                        height: 100%;
                        width: 1px;
                        right: 4px;
                        background-color: #c3c7ca;
                        cursor: ew-resize;
                    }
                }
            }
        }
    }

    .GridBody {
        overflow-y: scroll;
        background-color: #ffffff;
        .GridTr {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
            border-bottom: 1px solid #dde2eb;
            transition: all 0.4s;
            .GridTd {
                position: absolute;
                transition: all 0.4s;
                .TdBox {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding-left: 18px;
                    padding-right: 18px;
                    .text {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .v_border {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        width: 8px;
                        height: 100%;
                        right: 0px;
                        .v_borderLine {
                            position: absolute;
                            content: "";
                            height: 100%;
                            width: 1px;
                            background-color: #d9dce0;
                            right: 0px;
                        }
                    }
                 
                }
            }
        }
    }

    .GridResizeLine {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 0;
        left: 0;
        border-left: 1px solid rgb(218, 218, 218);
        z-index: 10;
    }
}
